<main class="bg-primary bg-opacity-50 mb-5">
    <h1 class="py-5">CRUD Clientes</h1>

    <div class="container">
        <div class="m-3 d-inline-block">
            <a href="/crear">
                <button class="btn btn-dark text-light">Crear Cliente </button>
            </a>
        </div>
        {{#if datos}}
        <div class="rounded-5">
            <table class="table table-striped table-hover py-3 my-3">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Rut</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Servicio</th>
                    <th>Acción</th>
                </thead>
                <tbody>
                    {{#each datos}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{nombre}}</td>
                        <td>{{rut}}</td>
                        <td>{{email}}</td>
                        <td>{{telefono}}</td>
                        <td>{{servicio}}</td>
                        <td id="{{id}}">
                            <form class="d-inline-block" action="/api/v1/clientes?_method=DELETE" method="POST">
                                <input hidden type="text" name="id" value="{{id}}">
                                <input type="hidden" name="tipoApi" value="propia">
                                <button class="btn m-1 btn-danger"><i class="bi bi-trash"></i></button>
                            </form>
                            <a href="/actualizar">
                                <button class="btn m-1 btn-success"><i class="bi bi-pencil-square"></i></button>
                            </a>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>

        {{/if}}

    </div>
    <div class="container-fluid" style="height: 1vh;"></div>
</main>